<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>短期分析</title>
    <link rel='stylesheet' href='/static/css/reset.css'>
    <script src='/static/js/modernizr.js'></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style02.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
	<script>window.jQuery || document.write('<script src="/static/js/jquery-1.11.0.min.js"><\/script>')</script>
    <style type="text/css">

</style>
</head>
<body>
<ul id="menu" class="wrapper">
    <li>
    <div class="info-box-green">
    {% if odd_event_flg %}
          <h4 style="background-color: #1b1e21" class="entypo-tools"> 奇偶比分析</h4>
      {% else %}
          <h4 style="background-color: red" class="entypo-tools"> 奇偶比分析</h4>
      {% endif %}

      <div class="info-content">
        <div class="text">
            <p>5期分析，奇偶数差8个属于明显偏态<br>
            10期分析，奇偶数差12个属于明显偏态</p>
          <p>
              {% if odd_event_flg %}
                  奇偶比存在偏态
              {% else %}
                  奇偶比不存在偏态
              {% endif %}
          </p>
        </div>
        <span class="entypo-plus" id="expand-green"></span>
      </div>
    </div>
  </li>

  <li>
    <div class="info-box-red">
      <h4 class="entypo-lifebuoy"> 大小号比分析</h4>

      <div class="info-content">
        <div class="text">
        <p>大小号相差8个位偏态<br>
          <p>
              {% if big_small_flg %}
                     大小号比存在偏态
                {% else %}
                     大小号比不存在偏态
                {% endif %}
          </p>
        </div>
        <span class="entypo-plus" id="expand-red"></span>
      </div>
    </div>
  </li>

    <li>
    <div class="info-box-sky">
      <h4 class="entypo-lifebuoy"> 质数分析</h4>

      <div class="info-content">
        <div class="text">
            <P>10期短期质数个数与理论值（20）相差8个时，属于偏态</P>
          <p>
              {% if prime_flg %}
                     质数存在偏态
                {% else %}
                     质数不存在偏态
                {% endif %}
          </p>

        </div>
        <span class="entypo-plus" id="expand-sky"></span>
      </div>
    </div>
  </li>
    <li>
    <div class="info-box-sky">
      <h4 class="entypo-lifebuoy"> 和值分析</h4>

      <div class="info-content">
        <div class="text">
            <p>双色球短期分析中大于20的和值偏态是比较显著的，值得注意<br>
             74到129的和值区间概率最大</p>
          <p>
              {% if sum_flg %}
                     和值存在偏态
                {% else %}
                     和值不存在偏态
                {% endif %}
          </p>

        </div>
        <span class="entypo-plus" id="expand-sky"></span>
      </div>
    </div>
  </li>
    <li>
    <div class="info-box-sky">
      <h4 class="entypo-lifebuoy"> AC值分析</h4>

      <div class="info-content">
        <div class="text">
          <p>AC值6,7,8,9最为常见</p>
        </div>
        <span class="entypo-plus" id="expand-sky"></span>
      </div>
    </div>
  </li>
    <li>
    <div class="info-box-sky">
      <h4 class="entypo-lifebuoy"> 散度分析</h4>

      <div class="info-content">
        <div class="text">
          <p>
              散度值越大，说明号码越集中，散度值越小，说明号码越分散，散度值5,6,7,8,9最为常见
          </p>
        </div>
        <span class="entypo-plus" id="expand-sky"></span>
      </div>
    </div>
  </li>
<li>
    <div class="info-box-sky">
      <h4 class="entypo-lifebuoy"> 区间分析</h4>

      <div class="info-content">
        <div class="text">
          <p>
              最大间距分析 1到4算小 18到26算大
          </p>

        </div>
        <span class="entypo-plus" id="expand-sky"></span>
      </div>
    </div>
  </li>
<li>
    <div class="info-box-sky">
      <h4 class="entypo-lifebuoy"> 连号分析</h4>

      <div class="info-content">
        <div class="text">
          <p>
              {% if prime_flg %}
                     质数存在偏态
                {% else %}
                     质数不存在偏态
                {% endif %}
          </p>

        </div>
        <span class="entypo-plus" id="expand-sky"></span>
      </div>
    </div>
  </li>
</ul>
<script>

	        $('#expand-green').on('click', function () {
                  $(this).toggleClass('close-green');
                  $('.text').toggleClass('open-green').end();
              });
              $('#expand-red').on('click', function () {
                  $(this).toggleClass('close-red');
                  $('.text').toggleClass('open-red');
              });
              $('#expand-sky').on('click', function () {
                  $(this).toggleClass('close-sky');
                  $('.text').toggleClass('open-sky');
              });

              {% if odd_event_flg %}
                  $("#oddEvenBC").css("backgroud-color","red")
              {% else %}
                    $("#oddEvenBC").css("backgroud-color","red")
              {% endif %}
	</script>
</body>
</html>